<div class="min-h-screen px-40 bg-zinc-900 flex justify-between items-center">
  <div class="mb-8">
    <pre class="text-4xl font-bold text-white">{{ title }}</pre>
    <p class="text-lg text-white mt-2">
      Play chess online with millions of players around the world
    </p>
    <div class="flex space-x-4">
      <a
        routerLink="/board"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        >Play Now</a
      >
      <a
        routerLink=""
        class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600"
        >Learn Chess</a
      >
    </div>
  </div>

  <div class="relative animate">
    <img
      src="../../../assets/Board Rise Gif.gif"
      alt=""
      class="h-[60vh] rotate-[10deg] "
    />
    <img
      src="../../../assets/heroKing.png."
      alt=""
      class="h-[65vh] rotate-[-10deg] absolute top-0 -left-40"
    />
  </div>
</div>
